.header-container {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 40px;
  color: white;
  text-shadow:
    -6px -6px 10px #404,
    6px -6px 10px #404,
    -6px 6px 10px #404,
    6px 6px 10px #404;
}

@media (max-width:1256px) {
  h1 {
    margin: 3px;
    padding: 0px;
  }
}
