<div class="categories">
  <div (click)="onChooseCategory('strat')" class="cat-strat">
    <div class="product-content-container">
      <div class="text-container">
        <div class="product-title">
          <h2>Stratocasters</h2>
        </div>
      </div>
    </div>
  </div>

  <div (click)="onChooseCategory('lespaul')" class="cat-lespaul">
    <div class="product-content-container">
      <div class="text-container">
        <div class="product-title">
          <h2>Les Pauls</h2>
        </div>
      </div>
    </div>
  </div>

  <div (click)="onChooseCategory('acoustic')" class="cat-acoustic">
    <div class="product-content-container">
      <div class="text-container">
        <div class="product-title">
          <h2>Acoustic</h2>
        </div>
      </div>
    </div>
  </div>
</div>
